@charset "UTF-8";

/* 回答はここから */
.block {
  background: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}

.block--text {
  display: inline-block;
  background: #a4b3e0;
  padding: 10px;
}

.margin {
  background: #fff;
  font-size: 16px;
  padding: 20px 0;
}

.margin--text {
  width: 90px;
  margin: 0 auto;
  background: #a4b3e0;
  padding: 10px;
  text-align: center;
}

.table {
  display: table;
}

.table--container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}

.table--text {
  padding: 10px;
  display: inline-block;
  background: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--text {
  background: #fff;
  padding: 10px;
}

.position {
  position: relative;
}

.position--text {
  padding: 10px;
  background: #a4b3e0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}