@charset "UTF-8";
/* 回答はここから */
.list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.list--text {
  background: #d2b48c;
  box-shadow: 0 0 0 6px #655;
  outline: 10px solid #655;
  padding: 10px;
  width: 180px;
  border-radius: 13px;
}
